.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.cart-empty {
  display: flex;
  justify-content: center;
}

.continue-shopping-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.continue-shopping-btn:hover {
  background-color: var(--primary-color-dark);
}

.clear-cart-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.total {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  padding: 1rem 1rem 0 0;
}
